<header>
  <div class="container">
    <div class="wrapper">
      <div class="logo">
        <img width="130px" height="50px" src="{{ 'logo.png' | asset_url }}" alt="">
      </div>
      <p>Find The Ideal gifts for your loved Ones</p>
      <a href="#.">CHOOSE GIFT</a>
    </div>
  </div>
</header>
